/* Global Style */
$black: #221f1f;
$red: #47e509;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  height: 100vh;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 2rem 6rem;
  outline: none;
  border: none;
  background: $red;
  color: $black;
  font-size: 4rem;
  font-weight: bold;
  border-radius: 0.5rem;
  &:active {
    transform: scale(0.9);
  }
}

h1 {
  text-align: center;
  margin-top: 8rem;
  color: $red;
  font-size: 4rem;
}

h2 {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: underline;
  text-align: center;
  color: $red;
  font-size: 4rem;
}
p {
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  background: $red;
  position: fixed;
  bottom: 2%;
  right: 2%;
  text-align: center;
  color: $black;
  font-size: 2rem;
}

@media (max-width: 1000px) {
  html {
    font-size: 50%;
  }

  p {
    right: 50%;
    transform: translateX(50%);
  }
}
